* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* MOBILE FIRST ********** */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page-view {
  width: 375px;
  height: 90vh;
  background-color: #008060;
}
hr {
  width: 80%;
  margin: 30px auto;
  border: none;
  border-top: 1px solid rgba(202, 202, 202, 0.733);
}
.logo {
  text-align: center;
  margin-top: 30px;
}
.logo img {
  width: 130px;
}

.heading-tagline > h1 {
  font-size: 1.7rem;
  margin: 40px 0 20px 0;
}
.heading-tagline > p {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.heading-tagline > h1,
.heading-tagline > p {
  color: #fff;
  text-align: center;
}
.heading-tagline-container {
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit > input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.submit > input:first-of-type {
  margin-bottom: 8px;
  margin-top: 25px;
}

input[placeholder]:first-of-type {
  padding-left: 15px;
  font-size: 1rem;
}
input:nth-of-type(2) {
  font-size: 1rem;
  background-color: rgb(22, 22, 22);
  color: #fff;
}
.sign-up-text {
  margin: 20px auto;
  width: 83%;
  text-align: center;
  font-weight: 400;
  font-size: 0.85rem;
  color: white;
  line-height: 1.3rem;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
section {
  padding-top: 10px;
}
.feature-section {
  width: 375px;
}
.features-inner-section {
  width: 375px;
  height: auto;
  text-align: left;
  padding: 30px;
}

.feature-icons {
  margin: 40px 0 20px 0;
}

.feature-text-heading {
  font-weight: 700;
  width: 85%;
}
.feature-text {
  font-weight: 300;
  color: rgb(82, 82, 82);
  margin-top: 10px;
  width: 85%;
  font-size: 1rem;
}
.testimonials {
  width: 100%;
  height: 400px;
}

.testimonial-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  flex-wrap: wrap;
  /* height: 400px; */
}
.testimonial-logos > img {
  width: 100px;
  height: 100%;
  margin: 20px;
}

.testimonial-text {
  width: 100%;
  text-align: center;
  height: auto;
  padding-bottom: 20px;
}
.testimonial-text > p {
  width: 85%;
  margin: 10px auto;
}
.testimonial-text > p:first-of-type {
  font-size: 1.25rem;
  color: rgb(88, 87, 87);
  line-height: 1.8rem;
}
.citation {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(88, 87, 87);
  font-size: 0.9rem;
}

.free-trial-btn {
  width: 170px;
  height: 50px;
  background-color: #008060;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 20px;
  filter: drop-shadow(0 0 0.2rem rgba(109, 107, 107, 0.685));
}
.free-trial-btn:hover {
  background-color: #024b39;
  transition: ease 0.5s;
}
footer {
  width: 375px;
  height: 30px;
  margin: 70px 0 20px 0;
}
footer li {
  margin: 10px;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: #008060;
  margin-bottom: 10px;
}

/* Tablet Media Query 576px *********** */

@media only screen and (min-width: 576px) {
  .container {
    width: 576px;
  }

  .landing-page-view {
    width: 576px;
  }
  .heading-tagline-container {
    width: 70%;
  }
  .submit {
    flex-direction: row;
    margin-top: 25px;
  }
  .submit > input:first-of-type {
    width: 275px;
    margin: 0 10px 0 0;
  }
  .submit > input:nth-child(2) {
    width: 150px;
    margin: 0;
  }
  .feature-section {
    width: 576px;
  }
  .features-inner-section {
    width: 576px;
  }
  .feature-text {
    width: 100%;
  }
  hr {
    width: 90%;
  }
  .testimonial-logos > img {
    width: 100px;
    height: 100%;
    margin: 30px;
  }
  footer {
    width: 576px;
    height: 30px;
  }
}

/* Tablet Media Query 768px *********** */

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .landing-page-view {
    width: 768px;
  }
  .heading-tagline-container {
    width: 70%;
  }
  .submit {
    flex-direction: row;
    margin-top: 25px;
  }

  .feature-section {
    width: 768px;
    margin: 30px 0 50px 0;
    padding: 0;
  }
  .features-inner-section {
    width: 768px;
    display: flex;
    margin: 0;
    padding: 0 10px;
  }

  .feature-icons {
    margin: 0;
    padding: 0 0 20px 0;
  }

  .feature-text-heading {
    width: 100%;
    margin-bottom: 10px;
  }
  .feature-1 > p:first-of-type {
    margin-top: -8px;
  }
  .feature-1 > img:first-of-type {
    margin-top: -5px;
  }
  .feature-container {
    width: 33.333%;
    padding: 20px;
    margin-top: 40px;
  }
  .feature-text {
    width: 100%;
    margin: 0;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  hr {
    width: 90%;
  }
  .testimonial-logos > img {
    width: 100px;
    height: 100%;
    margin: 30px;
  }

  footer ul {
    width: 768px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
  .testimonial-text {
    padding-bottom: 0;
  }
}

/* Tablet Media Query 992px *********** */

@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
  }

  .landing-page-view {
    width: 992px;
  }
  .submit > input:first-of-type {
    width: 380px;
  }
  .sign-up-text {
    width: 55%;
  }
  .feature-section {
    width: 992px;
    margin: 30px auto;
  }
  .testimonial-text {
    width: 55%;
    margin: 80px auto;
  }

  footer ul {
    width: 992px;
  }
}

/* Tablet Media Query 1200px *********** */

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .landing-page-view {
    width: 1200px;
  }
  .heading-tagline > h1 {
    font-size: 3.7rem;
  }
  .heading-tagline > p {
    font-size: 1.7rem;
  }
  .submit {
    flex-direction: column;
  }
  .submit > input:nth-child(1) {
    width: 380px;
    margin: 20px 0 10px 0;
  }
  .submit > input:nth-child(2) {
    width: 380px;
  }
  .submit > input:first-of-type {
    width: 380px;
  }
  .sign-up-text {
    width: 32%;
    font-size: 0.8rem;
  }
  .feature-section {
    width: 1200px;
    margin: 30px 0 50px 0;
    padding: 0;
  }
  .features-inner-section {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial-text {
    width: 65%;
    margin: 80px auto;
  }
  .testimonial-logos > img {
    width: 100px;
    height: 100%;
    margin: 20px;
  }

  footer ul {
    width: 1200px;
  }
}
